body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body {
  background: rgba(219,156,193,1) 51%;
            height: 100vh;
            margin: 0;
        }

        #wrapper {
            min-height: 100%;
        }
